body {
	font-size: 20px;
}

#tabbed-layout {
	border: .1em solid black;
	border-radius: 0 .25em .25em;
	margin: 0 auto;
	padding: .75em;
	width: 80%;
}

#tabbed-layout>ul {
	list-style: none;
	margin: -2.2em 0 0 .05em;
	padding: 0;
}

#tabbed-layout>ul>li {
	border: .1em solid black;
	border-radius: .25em .25em 0 0;
	display: inline;
	padding: .25em .5em;
	margin: -.5em -.15em -.15em -.15em;
}

#tabbed-contents {
	position: relative;
	top: .5em;
}